<!DOCTYPE html>
<html lang="en">
<head>
  <title>Crawling Ninja</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<%= render 'layouts/navbar' %> 
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<!-- (Welcome Section) -->
<%= render 'layouts/welcome' %>

<!-- (About Section) -->
<%= render 'layouts/about' %>

<!-- (Values Section) -->
<%= render 'layouts/values' %>

<!-- (Services Section) -->
<%= render 'layouts/services' %>

<!-- (Sample Section) -->
<%= render 'layouts/sample' %>

<!-- (Carousel Section) -->
<%= render 'layouts/carousel' %>

<!-- (Pricing Section) -->
<%= render 'layouts/pricing' %>

<!-- (Contact Section) -->
<%= render "contacts/new" %>

<!-- (Footer Section) -->
<%= render 'layouts/footer' %>


</body>
</html>
