<!DOCTYPE html>
<html lang="en">
<head>
  <title>Crawling Ninja</title>
  <link rel="shortcut icon" type="image/png" href="https://s3.amazonaws.com/stxts-profile/ninja-logo.png"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
  
function getDeviceScale() {
    var deviceWidth, landscape = Math.abs(window.orientation) == 90;
    if (landscape) {
      deviceWidth = Math.max(480, screen.height);
    } else {
      deviceWidth = screen.width;
    }
    return window.innerWidth / deviceWidth;
}

if (navigator.userAgent.match(/Mobi/)) {
    $(window).on('load scroll', function() {
        var ds = getDeviceScale();
        $('.device-fixed-height').css('transform','scale(1,' + ds + ')')
            .css('transform-origin', '0 0');
        $('.device-fixed-width').css('transform', 'scale(' + ds + ',1)')
            .css('transform-origin', '0 0');
        })
}

  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<%= render 'layouts/navbar' %> 
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<!-- (Welcome Section) -->
<%= render 'layouts/welcome' %>

<!-- (About Section) -->
<%= render 'layouts/about' %>

<!-- (Values Section) -->
<%= render 'layouts/values' %>

<!-- (Services Section) -->
<%= render 'layouts/services' %>

<!-- (Sample Section) -->
<%= render 'layouts/sample' %>

<!-- (Carousel Section) -->
<%= render 'layouts/carousel' %>

<!-- (Contact Section) -->
<%= render "contacts/new" %>

<!-- (Footer Section) -->
<%= render 'layouts/footer' %>


</body>
</html>
