<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT US</h2>
  <div id="loadingRing" class="text-center" style="display:none;"><img src="https://s3.amazonaws.com/stxts-profile/ring.gif" alt="loading"></div>
    <% @contact ||= Contact.new %>
    <div align="center">

      <%= simple_form_for @contact, :html => {:class => 'form-horizontal center_div', id: "contactFormAjax" }, remote: "true" do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= f.input :first_name, label: 'First Name *', :required => true %>
        <%= f.input :last_name, label: 'Last Name' %>
        <%= f.input :email, label: 'Email *', :required => true %>
        <%= f.input :company %>       
        <%= f.input :title %>
    </div>
    <div id="submitBtnFormArea">
          </br>
          <%= f.button :submit, 'Send Message', :class=> "btn btn-primary", id: "submitBtnForm" %>
    </div>
      <% end %>
    <div class="container text-center bg-grey" id="submitSuccess" style="display: none;">
      <h2> Thanks for submitting your info.<br/> Our Ninjas will reach out to you shortly! </h2>
    </div>  
</div>

