<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT US!</h2>
    <% @contact ||= Contact.new %>
    <div align="center">

      <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.input :first_name, label: 'First Name *', :required => true %>
        <%= f.input :last_name, label: 'Last Name' %>
        <%= f.input :email, label: 'Email *', :required => true %>
        <%= f.input :company %>       
        <%= f.input :title %>
        
        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        
    </div>
    <div id="submitBtnForm">
          </br>
          <%= f.button :submit, 'Send Message', :class=> "btn btn-primary" %>
    </div>
      <% end %>
</div>  